/**
 * ------------------------------------------------------------------
 * Cabeçalho
 * ------------------------------------------------------------------
 */

//carregamento
#jpreBar {
	height: rem-calc(5);
	position: fixed;
	top: 0;
	left: 0;
}

// altura do cabeçalho
$header_height : rem-calc(110);
%header-blocks {
	height: $header_height;
}

#header {
	position: fixed;
	z-index: 9999;
	@extend .bg-white;
	top: 0;
	left: 0;
}

//logo
.af-logo {
	@extend %header-blocks;
	h1 {
		@extend .d-table-cell;
	}
	img {
		@extend .small-12;
	}
}

//ligamos para você
#call-form {
	z-index: 9999;
	@extend %radius;
	input {
		@extend %radius;
	}
}
.off-call-us {
	padding: rem-calc(30);
	header {
		padding: 0 !important;
	}
	h6 {
		font-size: rem-calc(14);
		@extend .font-regular;
		@extend .white;
	}
	input {
		@extend %radius;
	}
}

/**
 * ------------------------------------------------------------------
 * Navegação
 * ------------------------------------------------------------------
 */

//Menu off-canvas
#off-canvas {
	width: rem-calc(294);
  right: 0;
	top: 0;
  position: fixed;
  z-index: 9999999999999;
	visibility: hidden;
	opacity: 0;
	@include translateX(100%);
	@extend %transition;

	&.show {
		visibility: visible;
		opacity: 1;
		@include translateX(0);
	}

	header {
		padding: rem-calc(30);
	}
	.icon-close2 {
		line-height: 1.2;
		&:hover,&:focus {
			@extend .info;
		}
	}
	ul {
		@extend .no-bullet;
		@extend .small-12;
	}
	li {
		width: 100%;
		@extend .left;
		@extend .no-margin;
		a {
			@extend .d-block;
			@extend .small-12;
			@extend .left;
			@extend .white;
			@extend .font-bold;
			padding: rem-calc(10 30);
			border-bottom: 1px solid shade($secondary-color, 10%);
			&:hover {
				background-color: shade($secondary-color, 10%);
			}
		}
		span {
			@extend .left;
		}
	}
	.icon-triangle-down {
		@extend .right;
		line-height: 1.5;
	}
	.submenu {
		display: none;
		a {
			border: none;
			@extend .font-regular;
		}
	}
}

.close-off-menu, .close-call-us {
	@extend .small-12;
	@extend %full-height;
	display: block;
	position: fixed;
	top: 0; left: 0;
	z-index: 999;
	background-color: rgba(#000,.7);
	display: none;
	&.show {
		display: block;
	}
}
.close-off-menu {
	z-index: 99999;
}

//Menu principal do topo (desktop)
#main-menu {
	@extend %transition;
	ul {
		overflow: visible;
	}
	li {
		@extend .rel;
		&:first-child {
			margin-left: 0;
		}
		&:hover {
			.submenu {
				//display: block;
				//@include translateY(0);
				visibility: visible;
				opacity: 1;
			}
		}
		&:hover, &.current-menu-item {
			> a {
				@extend .primary;
				border-color: $primary-color;
			}
		}
	}
	a {
		@extend .d-table;
		@extend .font-bold;
		@extend .ghost;
		@extend %header-blocks;
		border-bottom: 3px solid transparent;
		&:hover {
			@extend .primary;
			border-color: $primary-color;
		}
	}
	span {
		@extend .d-table-cell;
	}
	//Submenu
	.submenu {
		@extend .no-bullet;
		@extend .abs;
		@extend .d-block;
		@extend .bg-secondary;
		@extend %transition;
		//display: none;
		width: rem-calc(220);
		left: 0;
		top: $header_height;
		-webkit-box-shadow: 2px 2px 3px 0px rgba(50, 50, 50, 0.64);
		-moz-box-shadow:    2px 2px 3px 0px rgba(50, 50, 50, 0.64);
		box-shadow:         2px 2px 3px 0px rgba(50, 50, 50, 0.64);
		//@include translateY(-100%);
		visibility: hidden;
		opacity: 0;
		z-index: 99;

		a {
			height: auto;
			@extend .small-12;
			@extend .white;
			border: none;
			padding: rem-calc(0 20);
			height: rem-calc(40);

			&:hover {
				@extend .white;
				@extend .bg-primary;
				padding-left: rem-calc(30);
			}
		}
	}

	.icon-triangle-down:before {
		text-align: right;
		font-size: rem-calc(12);
		display: inline-block;
		margin-left: rem-calc(5);
	}
}

.icon-triangle-down {
	&.rotate {
		@include rotate(-180deg);
	}
}

//menu mobile
.toggle-menu {
	font-size: rem-calc(36);
	margin-left: rem-calc(20);
	line-height: 0;
	@extend .ghost;
	span {
		@extend .d-iblock;
		margin-top: rem-calc(4);
	}
}
#mo-menu {
	.d-table {
		@extend %header-blocks;
	}
	.icon-phone {
		margin-right: rem-calc(10);
	}
	.button {
		padding: rem-calc(12 20);
	}
}

/**
 * ------------------------------------------------------------------
 * Home - Slider
 * ------------------------------------------------------------------
 */
%slider-height {
	height: rem-calc(500);
}
#home-slider {
	@extend %slider-height;
	z-index: 9;
	.row {
		@extend %slider-height;
		@extend .rel;
		z-index: 9;
	}
	> nav {
		@extend %transition;
		visibility: hidden;
		opacity: 0;
		&.show {
			visibility: visible;
			opacity: 1;
		}
	}
	article {
		@extend %transition;
		@include translateY(rem-calc(90));
		opacity: 0;
		&.show {
			@include translateY(0);
			opacity: 1;
		}
	}
}
.home-slider-nav {
	@extend .abs;
	@extend .d-table;
	top: 0;
	@extend %slider-height;
	width: rem-calc(60);
	z-index: 999;
	&:focus {
		@extend .white;
	}

	&.prev-slide {
		left: 0;
		padding-left: rem-calc(20);
	}
	&.next-slide {
		right: 0;
		padding-right: rem-calc(20);
	}
	&:hover {
		opacity: .8;
		@extend .info;
		i:before {
			border-color: $info-color;
		}
	}

	i {
		@extend .d-table-cell;
		@extend .text-center;
		&:before {
			@extend %transition;
			width: 100%;
		  height: rem-calc(40);
		  display: block;
		  border: 2px solid $white;
		  border-radius: 100%;
		  line-height: 2.2;
		}
	}

}
.slider-mask {
	background-color: rgba($secondary-color,.6);
	z-index: 0;
}

.slider-bullets {
  z-index: 999;
  bottom: rem-calc(10);
  span {
    @extend .d-iblock;
    width: rem-calc(13);
    height: rem-calc(13);
    background-color: $white;
    border-radius: 100%;
    margin: rem-calc(0 5);
    &:hover, &.cycle-pager-active {
      background-color: transparent;
      border: 2px solid $white;
    }
  }
}

/**
 * ------------------------------------------------------------------
 * Formulários
 * ------------------------------------------------------------------
 */

//Barra ligamos para você
.call-us-bar {
	.d-table {
		height: rem-calc(80);
	}
	form {
		padding-top: rem-calc(4.4);
	}
	input[type="text"] {
		width: 40%;
		margin: 0;
		&:nth-child(1) {
			margin-right: rem-calc(10);
		}
	}
	input[type="submit"] {
		height: rem-calc(37);
		padding: rem-calc(0 34.5);
	}
}

/**
 * ------------------------------------------------------------------
 * Sessões
 * ------------------------------------------------------------------
 */

//Serviços
#services,#count-user {
	header {
		margin: rem-calc(40 0);
	}
}
.service-card {
	margin-bottom: rem-calc(20);
	figure {
		border-radius: $global-radius;
	}
	a {
		height: rem-calc(380);
		border-radius: $global-radius;
		overflow: hidden;
		h1, h3 {
			@extend .white;
		}
		div {
			@extend %full-height;
		  @include transition(transform .3s linear);
			border-radius: $global-radius;
			top: 0;
			left: 0;
			z-index: 0;
		}
		figcaption {
			@extend .d-table;
			border-radius: $global-radius $global-radius 0 0;
			height: rem-calc(180);
			//background-color: #1b408f;
			background-image: -webkit-linear-gradient(321deg, rgba(#0d2a7d,.8) 0%, rgba(#10b2ee,.8) 100%);
			background-image: -o-linear-gradient(321deg, rgba(#0d2a7d,.8) 0%, rgba(#10b2ee,.8) 100%);
			background-image: linear-gradient(51deg, rgba(#0d2a7d,.8) 0%, rgba(#10b2ee,.8) 100%);
			z-index: 9;
		}
		&:hover {
			div {
				// -webkit-filter: blur(2px);
    		// filter: blur(2px);
				@include scale(1.05);
			}
		}
	}
}

//Contadores
#count-user {
	margin-bottom: rem-calc(40);
	header {
		border-bottom: 1px solid tint($ghost, 40%);
		padding-bottom: rem-calc(20);
		@extend .rel;
		&:before {
			content: "";
			@extend .d-iblock;
			@extend .small-2;
			height: 0.25rem;
			@extend .bg-primary;
			@extend .abs;
			left: 0;
			bottom: rem-calc(-2.4);
			@extend .small-offset-5;
		}
	}
}
.counter-list {
	margin-bottom: rem-calc(60);
}

//Estrutura
#structure {
	padding: rem-calc(60 0);
	header {
		margin-bottom: rem-calc(60);
	}
}
.info-mask {
	background-color: rgba($info-color, .9);
	@extend %full-height;
	top: 0; left: 0;
}
.nav-pics {
	figure {
		height: rem-calc(220);
		overflow: hidden;
		> div {
			@extend %full-height;
			@extend %transition;
			z-index: 0;
		}
		&:hover {
			> div {
				@include scale(1.02);
				filter: brightness(0.7);
				-webkit-filter: brightness(0.7);
			}
			figcaption {
				@include translateY(0);
				opacity: 1;
			}
		}
	}
	a {
		top: 0; left: 0;
		@extend %full-height;
		z-index: 9;
		> div {
			margin-top: 28%;
		}
		span {
			@extend .d-iblock;
			@extend .bg-white;
			@extend %transition;
			opacity: 0;
			@include scale(0.7);
			padding: rem-calc(4 3);
			border-radius: $global-radius;
			font-size: rem-calc(36);
		}
		&:hover {
			span {
				@include scale(1);
				opacity: 1;
			}
		}
	}
	figcaption {
		bottom: 0;
		left: 0;
		padding: rem-calc(10);
		@extend %transition;
		@extend .bg-white;
		@include translateY(100%);
		opacity: 0;
	}
}

//Mapa
#map-section {
	height: rem-calc(355);
	@extend .bg-primary;
}

/**
 * ------------------------------------------------------------------
 * Rodapé
 * ------------------------------------------------------------------
 */
#footer {
	i {
		font-size: rem-calc(22);
	}
	p > span {
		@extend .rel;
		bottom: rem-calc(5);
	}
	article:nth-child(1n) {
		@extend .rel;
		top: rem-calc(-20);
		padding-left: rem-calc(62);
	}
	a {
		@extend .white;
	}
	a:hover {
		@extend .info;
	}
	li:first-child {
		margin-left: 0;
	}
	input[type="submit"] {
		height: rem-calc(37);
		padding: rem-calc(0 34.5);
	}
	> .row {
		padding: rem-calc(40 0);
		border-bottom: 1px solid shade($primary-color,15%);
	}
}
.logo-footer {
	font-size: rem-calc(60);
	&:hover {
		@extend .info;
	}
}
.custom-menu {
	@extend .show-for-large-up;
	// a:hover {
	// 	padding-left: rem-calc(10);
	// }
	&:nth-child(1n+1) {
		li {
			width: 50%;
			margin-left: 0;
		}
	}
}
#credits {
	> .row {
		padding: rem-calc(20 0);
		border-top: 1px solid tint($primary-color,10%);
	}
}
