@font-face {
  font-family: 'Museo100-Regular';
  src: url('fonts/Museo100-Regular.eot?#iefix') format('embedded-opentype'),  url('fonts/Museo100-Regular.otf')  format('opentype'),
	     url('fonts/Museo100-Regular.woff') format('woff'), url('fonts/Museo100-Regular.ttf')  format('truetype'), url('fonts/Museo100-Regular.svg#Museo100-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo300-Regular';
  src: url('fonts/Museo300-Regular.eot?#iefix') format('embedded-opentype'),  url('fonts/Museo300-Regular.otf')  format('opentype'),
	     url('fonts/Museo300-Regular.woff') format('woff'), url('fonts/Museo300-Regular.ttf')  format('truetype'), url('fonts/Museo300-Regular.svg#Museo300-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo500-Regular';
  src: url('fonts/Museo500-Regular.eot?#iefix') format('embedded-opentype'),  url('fonts/Museo500-Regular.otf')  format('opentype'),
	     url('fonts/Museo500-Regular.woff') format('woff'), url('fonts/Museo500-Regular.ttf')  format('truetype'), url('fonts/Museo500-Regular.svg#Museo500-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo700-Regular';
  src: url('fonts/Museo700-Regular.eot?#iefix') format('embedded-opentype'),  url('fonts/Museo700-Regular.otf')  format('opentype'),
	     url('fonts/Museo700-Regular.woff') format('woff'), url('fonts/Museo700-Regular.ttf')  format('truetype'), url('fonts/Museo700-Regular.svg#Museo700-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo900-Regular';
  src: url('fonts/Museo900-Regular.eot?#iefix') format('embedded-opentype'),  url('fonts/Museo900-Regular.otf')  format('opentype'),
	     url('fonts/Museo900-Regular.woff') format('woff'), url('fonts/Museo900-Regular.ttf')  format('truetype'), url('fonts/Museo900-Regular.svg#Museo900-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?lk5rzs');
	src:url('fonts/icomoon.eot?#iefixlk5rzs') format('embedded-opentype'),
		url('fonts/icomoon.ttf?lk5rzs') format('truetype'),
		url('fonts/icomoon.woff?lk5rzs') format('woff'),
		url('fonts/icomoon.svg?lk5rzs#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-close2:before {
	content: "\e607";
}
.icon-mail:before {
	content: "\e605";
}
.icon-social-facebook:before {
	content: "\e602";
}
.icon-close:before {
	content: "\e606";
}
.icon-chevron-thin-right:before {
	content: "\e609";
}
.icon-chevron-thin-left:before {
	content: "\e608";
}
.icon-instagram:before {
	content: "\e603";
}
.icon-menu:before {
	content: "\e604";
}
.icon-triangle-up:before {
	content: "\e601";
}
.icon-triangle-down:before {
	content: "\e600";
}
