@media #{$small-only} {
  .row {
    width: rem-calc(320);
    max-width: none;
  }
  //slider home
  #home-slider  {
    height: rem-calc(260);
    .row {
      height: rem-calc(260);
    }
  }
  .home-slider-nav {
    display: none;
  }
  //serviços
  .service-card {
    a {
      height: rem-calc(200);
      figcaption {
        height: 100%;
      }
    }
  }
  //estrutura
  .nav-pics {
  	figure {
  		height: rem-calc(130);
    }
  }
  //categoria
  .post-info {
    margin-bottom: rem-calc(10); 
  }
  .post-card {
    padding-top: rem-calc(20);
  }
  .post-icon {
    float: left;
    font-size: rem-calc(18);
  }
  //post-single-page
  .post-gallery {
    height: rem-calc(220);
  }
  .single-slider-nav {
    height: rem-calc(220);
    &.next-slide {
      right: 0;
    }
    &.prev-slide {
      left: 0;
    }
  }
  //templates
  #template-intro {
    height: rem-calc(250);
  }
  .template-header {
    h1 {
      font-size: rem-calc(40);
    }
  }
  .two-columns {
    -moz-column-count:1;
    -webkit-column-count:1;
    column-count:1;
    -moz-column-gap:0;
    -webkit-column-gap:0;
    column-gap:0;
  }
  #category-intro {
    height: rem-calc(150);
  }
}
@media #{$medium-only} {
  .row {
    width: rem-calc(768);
    max-width: none;
  }

  //slider home
  #home-slider {
    height: rem-calc(400);
    .row {
      height: rem-calc(400);
    }
  }
  .home-slider-nav {
    display: none;
  }

  //serviços
  .service-card {
    a {
      height: rem-calc(250);
      figcaption {
        height: 100%;
      }
    }
  }

  //estrutura
  .nav-pics {
  	figure {
  		height: rem-calc(150);
    }
  }

  //categoria
  .post-info {
    height: rem-calc(160);
    h4,p {
      display: table-cell;
      vertical-align: middle;
    }
  }

  //templates
  #template-intro {
    height: rem-calc(300);
  }
  .template-header {
    h1 {
      font-size: rem-calc(60);
    }
  }
  .two-columns {
    -moz-column-count:1;
    -webkit-column-count:1;
    column-count:1;
    -moz-column-gap:0;
    -webkit-column-gap:0;
    column-gap:0;
  }
  .blockquote {
    h5 {
      padding-right: rem-calc(20);
    }
    h2 {
      font-size: rem-calc(24);
      padding-right: rem-calc(20);
    }
  }
}

@media #{$large-up} {
  //slider home
  .slide-title {
    font-size: rem-calc(72);
  }
  #count-user {
    .button {
      margin-top: rem-calc(20);
  		font-size: rem-calc(24);
  	}
  }
  
  //serviços
  .service-card {
    h1 {
      font-size: 3rem;
    }
  }

  //categoria
  .post-info {
    height: rem-calc(130);
    h4,p {
      display: table-cell;
      vertical-align: middle;
    }
    h4:last-child {
      text-align: center;
    }
  }
  .post-icon {
    font-size: 5rem;
    @include translateY(rem-calc(8));
    width: rem-calc(100);
  }
  
  //templates
  #template-carousel {
    h1 {
      font-size: rem-calc(72);
    }
  }

  .template-footer {
    .button {
      font-size: rem-calc(24);
    }
  }

  //duas colunas
  .two-columns {
    -moz-column-count:2;
    -webkit-column-count:2;
    column-count:2;
    -moz-column-gap:rem-calc(30);
    -webkit-column-gap:rem-calc(30);
    column-gap:rem-calc(30);
    font-size:rem-calc(14);
  }

  .blockquote {
    h5 {
      padding-right: rem-calc(20);
    }
    h2 {
      font-size: rem-calc(30);
      position: relative;
      padding-right: rem-calc(20);
      line-height: 1.2;
      &:after {
        content: "";
        position: absolute;
        top: rem-calc(7); right: 0;
        display: block;
        width: rem-calc(5);
        height: rem-calc(60);
        background-color: $primary-color;
      }
    }
  }

  .post-header {
    h1 {
      font-size: 5rem;
    }
  }

  .post-content {
    margin-bottom: rem-calc(40);
  }
  
}
