@media #{$small-only} {
  .row {
    width: rem-calc(320);
    max-width: none;
  }
  //slider home
  #home-slider  {
    height: rem-calc(260);
    .row {
      height: rem-calc(260);
    }
  }
  .home-slider-nav {
    display: none;
  }
  //serviços
  .service-card {
    a {
      height: rem-calc(200);
      figcaption {
        height: 100%;
      }
    }
  }
  //estrutura
  .nav-pics {
  	figure {
  		height: rem-calc(130);
    }
  }
  //categoria
  .post-info {
    margin-bottom: rem-calc(10); 
  }
  .post-card {
    padding-top: rem-calc(20);
  }
}
@media #{$medium-only} {
  .row {
    width: rem-calc(768);
    max-width: none;
  }

  //slider home
  #home-slider {
    height: rem-calc(400);
    .row {
      height: rem-calc(400);
    }
  }
  .home-slider-nav {
    display: none;
  }

  //serviços
  .service-card {
    a {
      height: rem-calc(250);
      figcaption {
        height: 100%;
      }
    }
  }

  //estrutura
  .nav-pics {
  	figure {
  		height: rem-calc(150);
    }
  }

  //categoria
  .post-info {
    height: rem-calc(160);
    h4,p {
      display: table-cell;
      vertical-align: middle;
    }
  }
}

@media #{$large-up} {
  //slider home
  .slide-title {
    font-size: rem-calc(72);
  }
  #count-user {
    .button {
      margin-top: rem-calc(20);
  		font-size: rem-calc(24);
  	}
  }

  //categoria
  .post-info {
    height: rem-calc(130);
    h4,p {
      display: table-cell;
      vertical-align: middle;
    }
  }
}
