/**
 * ------------------------------------------------------------------
 * Placeholders
 * ------------------------------------------------------------------
 */
%full-height {
	height: 100%;
}
%transition {
	@include transition(all .3s linear);
}
%radius {
		border-radius: $global-radius;
}

/**
 * ------------------------------------------------------------------
 * Seletores
 * ------------------------------------------------------------------
 */
body {
	//necessario para o menu fixo
	padding-top: rem-calc(110);
	&.fixed {
		position: fixed;
	}
}
figure {
	margin: 0;
}
a:not(.service-link) {
	@extend %transition;
}

//foudation
.tooltip {
	border: 1px solid #e1e1e1 !important;
	@include translateY(rem-calc(-30));
	box-shadow: 0 3px 4px rgba(0, 0, 0, 0.05);
	> .nub {

	}
}

/**
 * ------------------------------------------------------------------
 * Tipografia
 * ------------------------------------------------------------------
 */

//Familias
.font-lite {
	font-family: 'Museo100-Regular';
}
.font-regular {
	font-family: 'Museo300-Regular';
}
.font-bold {
	font-family: 'Museo500-Regular';
}
.font-black {
	font-family: 'Museo700-Regular';
}
.font-strong {
	font-family: 'Museo900-Regular';
}

//tamanho
.text-small {
	font-size: rem-calc(12);
}
.text-normal {
	font-size: rem-calc(14);
}

//cores
.primary {
	color: $primary-color;
}
.secondary {
	color: $secondary-color;
}
.info {
	color: $info-color;
}
.white {
	color: $white;
}
.ghost {
	color: $ghost;
}

//caixa
.text-up {
	text-transform: uppercase;
}
.text-low {
	text-transform: lowercase;
}

//Alturas de linhas
.lh-small {
	line-height: 1.2;
}

//botões
.btn-lite {
	padding: rem-calc(10 15);
	font-size: rem-calc(14);
}

/**
 * ------------------------------------------------------------------
 * Backgrounds
 * ------------------------------------------------------------------
 */
.bg-primary {
	background-color: $primary-color;
}
.bg-secondary {
	background-color: $secondary-color;
}
.bg-info {
	background-color: $info-color;
}
.bg-ghost {
	background-color: $ghost;
}
.bg-white {
	background-color: $white;
}
.bg-cover {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0 50%;
}

/**
 * ------------------------------------------------------------------
 * Comportamentos
 * ------------------------------------------------------------------
 */
.d-block {
	display: block;
}
.d-iblock {
	display: inline-block;
}
.d-table {
	display: table;
}
.d-table-cell {
	display: table-cell;
	vertical-align: middle;
}
.rel {
	position: relative;
}
.abs {
	position: absolute;
}
.full-height {
	@extend %full-height;
}

/**
 * ------------------------------------------------------------------
 * Margens
 * ------------------------------------------------------------------
 */
.no-margin {
	margin: 0 !important;
}
.divide-10 {
	@extend .small-12;
	@extend .left;
	margin-bottom: rem-calc(10);
}
.divide-20 {
	@extend .small-12;
	@extend .left;
	margin-bottom: rem-calc(20);
}
.pd-left-20 {
	padding-left: rem-calc(20);
}

/**
 * ------------------------------------------------------------------
 * Colunas
 * ------------------------------------------------------------------
 */
.two-columns {
	-moz-column-count:2;
	-webkit-column-count:2;
	column-count:2;
	-moz-column-gap:10px;
	-webkit-column-gap:10px;
	column-gap:10px;
}

/**
 * ------------------------------------------------------------------
 * Formulários
 * ------------------------------------------------------------------
 */
.custom-form {
	input,textarea {
		border: none;
		box-shadow: none;
		border-bottom: 1px solid tint($ghost,40%);
		&:hover {
			background-color: $white;
		}
	}
}

label {
	span {
		@extend .d-iblock;
		margin-left: rem-calc(10);
	}
}