/**
 * ------------------------------------------------------------------
 * Placeholders
 * ------------------------------------------------------------------
 */
%full-height {
	height: 100%;
}
%transition {
	@include transition(all .3s linear);
}
%radius {
		border-radius: $global-radius;
}

/**
 * ------------------------------------------------------------------
 * Seletores
 * ------------------------------------------------------------------
 */
figure {
	margin: 0;
}
a {
	@extend %transition;
}

/**
 * ------------------------------------------------------------------
 * Tipografia
 * ------------------------------------------------------------------
 */

//Familias
.font-lite {
	font-family: 'Museo100-Regular';
}
.font-regular {
	font-family: 'Museo300-Regular';
}
.font-bold {
	font-family: 'Museo500-Regular';
}
.font-black {
	font-family: 'Museo700-Regular';
}
.font-strong {
	font-family: 'Museo900-Regular';
}

//cores
.primary {
	color: $primary-color;
}
.secondary {
	color: $secondary-color;
}
.info {
	color: $info-color;
}
.white {
	color: $white;
}
.ghost {
	color: $ghost;
}

//caixa
.text-up {
	text-transform: uppercase;
}
.text-low {
	text-transform: lowercase;
}

/**
 * ------------------------------------------------------------------
 * Backgrounds
 * ------------------------------------------------------------------
 */
.bg-primary {
	background-color: $primary-color;
}
.bg-secondary {
	background-color: $secondary-color;
}
.bg-info {
	background-color: $info-color;
}
.bg-ghost {
	background-color: $ghost;
}
.bg-cover {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0 50%;
}

/**
 * ------------------------------------------------------------------
 * Comportamentos
 * ------------------------------------------------------------------
 */
.d-block {
	display: block;
}
.d-iblock {
	display: inline-block;
}
.d-table {
	display: table;
}
.d-table-cell {
	display: table-cell;
	vertical-align: middle;
}
.rel {
	position: relative;
}
.abs {
	position: absolute;
}
.full-height {
	@extend %full-height;
}

/**
 * ------------------------------------------------------------------
 * Margens
 * ------------------------------------------------------------------
 */
.no-margin {
	margin: 0 !important;
}
.divide-20 {
	@extend .small-12;
	@extend .left;
	margin-bottom: rem-calc(20);
}
.pd-left-20 {
	padding-left: rem-calc(20);
}
